body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    padding-top: 5em;
    min-height: 74%;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 7em 0em 0em;
    padding: 2em 0em;
}

td tr {
    text-align:center;
}

[v-cloak] {
  display: none;
}

[v-show] {
    display: none;
}

.ui.sidebar {
    top: 3em ;
}